.sidebar { width: 20%; background-color: #212121; padding: 2% 0;
    position: fixed;
    top: 67px;      /* 전체화면 기준으로 상단에서 설정값만큼 간격을 둠 */
    bottom: 0;      /* 전체화면 기준으로 하단에서 설정값만큼 간격을 둠*/
    left: 0;        /* 전체화면 기분으로 왼쪽에서 설정값만큼 간격을 둠*/
    /* right */
  }
.sidebar-link {
     height: 55px;
     display: flex;
     align-items: center;
     cursor: pointer;
     background-color: #212121;
     margin-left: 15px;
}
.sidebar-link:hover {
background-color: #4d4d4d;
margin-right: 15px;
}
.sidebar-link div { display: inline-block; margin-left: 15px; color: white; font-size: 14px;}
.sidebar-link img { height: 37px; margin-bottom: 3px; }